@font-face {
    font-family:'Montserrat';
    src: url('fonts/montserrat-black-webfont.woff') format('woff'),
         url('fonts/montserrat-black-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Courgette';
    src: url('fonts/courgette-regular-webfont.woff') format('woff'),
         url('fonts/courgette-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Pompiere';
    src: url('fonts/pompiere-regular-webfont.woff') format('woff'),
         url('fonts/pompiere-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Fixes the initial browser’s style */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    background-color: #fdff94;
    cursor: url(images/copy.svg), auto;
    min-height: 100vh;
}
a, a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

h1, h2, h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px;
}
li {
    list-style: none;
}
img {
    width: 150px;
}

.slider {
    width:100%;
    overflow: hidden;
    position: absolute;
    margin:0;
}
.slider ul {
    overflow: hidden;
    width: 1000%;
    margin: 0;
}
.slider ul li {
    list-style: none;
    margin: 0 0 10px 30px;
    display: inline-block;
    padding: 0 30px;
    font-size: 150px;
    letter-spacing: 4px;
    color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 3px;
    text-stroke-color: black;
}

.info {
    font-size: 100px;
    position: absolute;
    width: 1000px;
    left: 50%;
    padding-top: 20vh;
    margin-left: -500px;
    text-align: center;
}
.info:hover {
    z-index: 1000;
}
.names-participants {
    color: transparent;
}
.big-purple.names-participants {
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 20vh;
}

figure {
    position: absolute;
}
figcaption {
    display: none;
    font-size: 60px;
}
.big-caption {
    font-size: 60px;
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}
.big-caption a {
    color: white;
    border-bottom: 2px solid white;
}
.big {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0!important;
    left: 0!important;
    background-color: black;
    cursor: url(images/cross.svg), auto;
}
.higher {
    z-index: 1000;
}
body.hidefigures figure:not(.big) {
    display: none;
}
.big-purple {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: purple;
    cursor: url(images/cross.svg), auto;
}
.big img {
    width: auto;
    max-width: 100%;
    max-height: 80vh;
}
/* Ellen */
/* .ellen {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 800px;
}
.ellen.questions {
    position: absolute;
    top: 30%;
    left: 50%;
} */
.ellen .big-caption {
    font-size: 40px;
    position: absolute;
    color: white;
    bottom: 20px;
    left: 20px;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 480px) {

}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
